{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>This will be the page where new products are added.</h1>
  {% for i in range (1,10) %}
  {{i}}
  <br>
  {% endfor %}
</div>
<div class="jumbotron">
  <h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.category.label }} {{ form.category() }}<br>
        {{ form.description.label }} {{ form.description() }}<br>
        {{ form.barcode.label }} {{ form.barcode() }}<br>
        {{ form.price.label }} {{ form.price() }}<br>
        {{ form.submit() }}
    </form>

  </h1>
</div>
{% endblock %}
